In [ ]:
print(10)
print("Adele")
print("London","Paris")

10
Adele
London Paris

In [ ]:
print(10*2)

20

In [ ]:
input("enter your name: ")

enter your name: Adèle

'Adèle'

In [ ]:
# Print number 10.10
print(10.1000)

10.1

In [ ]:
# X is called variable
X = 10.20
name = "Adele"

print(X)
print(name)
last_name = "Paris"

10.2
Adele

In [ ]:
# Ask the user what is their city
# Print the user city
# * Use a variable
city = input("Where are you from: ")
print(city)

In [ ]:
# Ask the user what is their city
# Ask the user their first name
# Print the user name and the user city
# * Use a variable
city = input("Where are you from: ")
name = input("What is your first name: ")
print(name,city)

In [ ]:
X = int(input("enter a number: "))
y = int(input("enter a second number: "))
print (x+y)