In [1]:
num=int(input("Enter a number: "))
if num>0:
  print("Positive")
else:
  print("Negative or zero")

Enter a number: 4
Positive

In [4]:
num=int(input("Enter a number: "))
if num>0:
  positive=True
else:
  positive=False
print("is positive?", positive)

Enter a number: 55
is positive? True

In [3]:
print(positive)

True

* if age < 18 you cannot watch film
* if age >= 18, you can watch it
* if you are over 60 you are a senior and you have a discount

In [5]:
age = int(input("Enter age: "))
if age <18:
  watch = False
else:
  watch = True

if age>=60:
  senior=True
else:
  senior=False
print(age,watch,senior)

Enter age: 45
45 True False

* if your score is less than 10, you fail
* if 10-20, you pass
* if >15 distinction
If you get a distinction you get an award!

In [6]:
score=int(input("Enter a score: "))

if score<10:
  fail=True
else:
  fail=False

if score>=15:
  distinction=True
else:
  distinction=False

print(score,fail,distinction)

Enter a score: 17
17 False True

* if temp < 20 you turn on the heat
* if the heat is on, you close the window
* if the windows are closed, turn on the ventilation

In [7]:
temp=int(input("Enter a temp: "))

if temp<20:
  heat=True
else:
  heat=False

if heat==True:
   closed_windows=True
else:
   closed_windows=False

if closed_windows==True:
   ventilation=True
else:
  ventilation=False
print(temp,heat,closed_windows,ventilation)

Enter a temp: 13
13 True True True

In [10]:
student=['Mary','Tom','Stelios','Kate']
score=[15,12,9,18]

print(student[0:2])
print(score)

['Mary', 'Tom']
[15, 12, 9, 18]

In [12]:
score[0]
score[1:3]

[12, 9]

In [22]:
numbers=[10,20,30,40,50,60,70,80,90]

print(numbers[1])
print(numbers[7])
print(numbers[0:3])
print(numbers[-3:])
print(numbers[4:6])

20
80
[10, 20, 30]
[70, 80, 90]
[50, 60]